*{
    text-align: center;
    background-color: rgb(205, 96, 255);
}

label{
    font-size: 200px;
    color: wheat;
}

button{
    font-size: 40px;
    padding: 5px 20px;
    margin: 5px;
    background-color: skyblue;
    cursor: pointer;
    border-radius: 10px;
}